.loader {
    font-size: 18px;
    font-weight: bold;
    color: #3498db; /* Blue text color */
    text-align: center;
    margin: 20px;
    display: none; /* Hidden by default */
}
.dots {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 24px;
}
.dots div {
    position: absolute;
    bottom: 0px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3498db;
    animation: dotFlashing 1.2s infinite ease-in-out both;
}
.dots div:nth-child(1) {
    left: 0px;
    animation-delay: -0.24s;
}
.dots div:nth-child(2) {
    left: 5px;
    animation-delay: -0.12s;
}
.dots div:nth-child(3) {
    left: 10px;
    animation-delay: 0;
}
@keyframes dotFlashing {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.request {
    background-color: #50577A;
    margin: 5px 0px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 10px;
    cursor: context-menu;
}
.request svg{
    filter: invert(1);
}
.request p{
    padding-right: 30px;
    color: whitesmoke;
}
.response {
    background-color: #6B728E;
    margin: 5px 0px;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 17px;
    padding: 10px 20px 20px 20px;
    cursor: context-menu;
}
.response svg{
    filter: invert(1);
}
.response p{
    padding: 0px 40px 0px 30px;
    color: whitesmoke;
}